@charset "UTF-8";

/***********************************************************************
 * 00.initialized
 * 01.HEADER
 * 02.FOOTER
 * 03.MENU(=nav)
 * 04.KIZI(=article)
 * 05.button & submit
 * 06.screen for login/logout & changePW
 * 07.system messages(warning/err/alert)
 * 08.etc(sort/selectlist...)
 ********************************************************************** /

 /* 00.initialized *******************************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, select, fieldset, p, blockquote, th, td, input[type="file"], input[type="submit"], input[type="button"] {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic ProN", YuGothic, Meiryo, sans-serif;
	font-weight: normal;
	font-size: 100%;
	z-index: 0;
}

.wholecontainer {
	min-width: 1240px;
}

body {
	overflow-y: scroll;
	font-size: 12px;
	background-color: #666;
	background-image: repeating-linear-gradient( #666, #666 2px, #5F5F5F 2px, #5F5F5F 3px);
}

h1 {
	color: #002B62;
	font-size: 16px;
}

h2 {
	color: #002B62;
	font-size: 15px;
}

h3, h4, h5, h6 {
	color: #002B62;
	font-size: 14px;
}

input[type="text"], input[type="password"], textarea, select {
	border: 1px solid #B0B0B0;
	outline: none;
}

textarea {
	resize: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border: 1px solid #0070FF;
	background-color: #E5F1FF;
}

a:link, a:visited {
	color: #005FD8;
}
a:hover, a:active {
	color: #D87900;
}

:-ms-input-placeholder {
	color: #666666;
}
::-webkit-input-placeholder {
	color: #666666;
}
::-moz-placeholder {
	color: #666666;
}
#PAGETOP {
	position: relative;
}
#PAGETOP::after {
	content: '';
	display: block;
	clear: both;
}

/* 01.HEADER *******************************************************/
#HEADER *,
#HEADER *::before,
#HEADER *::after {
  box-sizing: border-box;
}
#HEADER {
	width: 100%; height: 80px;
	min-width: 1240px;
	background: #002B62;
	background-image: linear-gradient(#335581, #002B62);
	color: #F5F5F5;
}
#HEADER .headerInner {
  display: table;
  width: 100%; height: 80px;
}
#HEADER .headerInner > div {
  display: table-cell;
  vertical-align: middle;
}
#HEADER .itaLogo {
  width: 16px;
  padding: 0 16px;
}
#HEADER .itaLogo img {
  width: 200px; height: auto;
}
#HEADER .headerMenuGroupName {
  padding: 0 8px;
}
#HEADER h1 {
  overflow: auto;
  max-height: 80px;
  padding: 8px 0;
  line-height: 1.25;
  font-size: 24px;
  font-weight: bold;
  color: #F5F5F5;
  word-break: break-all;
}
#HEADER .headerInformation {
  padding: 0 16px;
}
#HEADER .itaLoginUserInformation {
  display: table;
  margin-left: auto;
}
#HEADER .itaLoginUserInformation > div {
  display: table-cell;
  vertical-align: middle;
}
#HEADER .itaLoginUserIcon {
}
#HEADER .itaLoginUserIconList {
  overflow: hidden;
  height: 32px;
  margin: 0; padding: 0;
  list-style: none;
  line-height: 1;
  letter-spacing: -0.4em;
  white-space: nowrap;
}
#HEADER .itaLoginUserIconItem {
  display: inline-block;
  margin-right: 4px;
  letter-spacing: normal;
  vertical-align: top;
}
#HEADER .itaLoginUserIconItem:first-child {
  margin-left: 8px;
}
#HEADER .itaLoginUserIconItem:last-child {
  margin-right: 0;
}
#HEADER .itaLoginUserIconImage {
  display: block;
  width: 32px; height: 32px;
  background-size: cover;
  background-position: center center;
}
#HEADER .itaLoginUserName,
#HEADER .itaLoginUserID {
  position: relative;
  line-height: 1;
  text-align: right;
  white-space: nowrap;
  font-size: 11px;
}
#HEADER .itaLoginUserName {
  margin-bottom: 6px;
}
#HEADER .userDataText {
  display: inline-block;
  max-width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
#HEADER .userNameFull {
  display: none;
  position: absolute;
  top: -6px;
  z-index: 100;
  width: 488px;
  padding: 4px;
  background-color: #000;
  white-space: normal;
  word-break: break-all;
  text-align: left;
  pointer-events: none;
  line-height: 1.5;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#HEADER .headerMenu {
  padding-top: 8px;
  text-align: right;
  white-space: nowrap;
}
#HEADER .headerMenu > form {
  display: inline-block;
}
/* HEADER button(changePW/Logout) */
#HEADER input {
  width: auto; height: 20px;
	min-width: 100px;
  margin: 0; padding: 2px;
	border: 1px solid transparent;
	border-radius: 2px;
	transform: translateY(0);
	box-shadow: none;
  line-height: 1;
}
/* HEADER button(changePW/Logout):hover */
#HEADER input:hover {
	border: 1px solid transparent;
}


#HEADER > div {
width: 100%!important;
height: 80px!important;
}
#HEADER > div > img {
  display: block;
	width: auto!important; height: 56px!important;
	margin: 12px auto!important;
}
#HEADER table td {
	padding: 8px 16px;
	vertical-align: middle;
}
#HEADER table td:first-child div {
	width: auto!important; height: auto!important;
	float: none!important; display: inline-block!important;
	vertical-align: middle;
}
#HEADER table td:first-child div img {
	width: auto!important; height: 56px!important;
	margin: 0!important;
}
#HEADER div.ita_name,
#HEADER table td:first-child div.ita_name {
    display: none!important;
}
#HEADER h4 {
	color: #F5F5F5;
	margin-right: 10px;
	font-size: 12px;
	line-height: 1.5;
}
#HEADER table {
	width: 100%;
	text-align: left;
}
#HEADER select {
	padding: 0 0 0 8px;
}

/* 02.FOOTER *******************************************************/
#FOOTER {
	position: fixed;
	bottom: 0; left: 0;
  z-index: 9999;
	width: 100%;
	min-width: 1240px;
	padding: 8px;
	background: #444;
}
#FOOTER address {
	font-style: normal;
}
#FOOTER ul {
margin: 0; padding: 0;
list-style: none;
letter-spacing: -0.4em;
}
#FOOTER li {
display: inline-block;
margin: 0 8px 0 0; padding: 0;
letter-spacing: normal;
vertical-align: middle;
}
#FOOTER li:last-child {
margin-right: 0;
}
#FOOTER a:link, #FOOTER a:visited {
	display: inline-block;
	padding: 2px 1em 1px;
	background-color: #FF821E;
	border-radius: 4px;
	color: #FFF;
	text-decoration: none;
}
#FOOTER a:hover, #FOOTER a:active {
	background-color: #FF640A;
}

/* 03.MENU(=nav) ************************************************************/
#MENU {
	float: left !important;
	width: 180px;
	position: sticky;
	top: 0;
	padding-bottom: 40px;
}

#MENU h2 {
	padding-left: 30px;
	background: #333;
	vertical-align: middle;
	text-align: left;
	font-size: 135%;
	line-height: 40px;
	color: #F5F5F5;
	font-weight: bold;
	background-image: url("../imgs/menu.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

#MENU ul {
	list-style: none;
	overflow: auto;
}

#MENU li a {
	display: block;
	background: #666;
	background-image: linear-gradient(#666,#5F5F5F);
	padding: 12px 10px;
	text-decoration: none;
	font-size: 12px;
	line-height: 1.5;
	color: #FFF;
	word-wrap: break-word;
	text-shadow: 1px 1px 0 #333;
}

#MENU li a:hover {
	background: #555;
	background-image: linear-gradient(#444,#3F3F3F)
}

/* current menu */
#MENU li.menu-on a {
	background: #F0F0F0;
	color: #002B62;
	font-weight: bold;
	text-shadow: none;
	padding-right: 0;
}

/* 04.KIZI(=article) ***********************************************************/
#KIZI {
	padding: 24px 24px 62px;
	/* overflow: hidden !important;*/
	margin-left: 180px;
	min-height: calc( 100vh - 118px )!important;
	min-width: 1012px;
	
	background-color:	#F0F0F0;
	background-image:	repeating-linear-gradient( 90deg, transparent, transparent 100px, #E6E6E6 100px, #E6E6E6 101px, transparent 101px, transparent 200px, #EBEBEB 200px, #EBEBEB 201px),
						repeating-linear-gradient(  0deg, transparent, transparent 100px, #E6E6E6 100px, #E6E6E6 101px, transparent 101px, transparent 200px, #EBEBEB 200px, #EBEBEB 201px);
	background-position: 50px 50px;
	
	line-height: 1.75;
	box-sizing: border-box;
}

#KIZI table {
	font-size: 100%;
}

#KIZI address {
	display: inline;
	font-style: normal;
}
#KIZI address a {
	padding: 0 0.5em;
}

#KIZI h2 {
	position: relative;
	margin: 0 0 4px;
	background: #FFF;
}
#KIZI #sysInitialFilter + h2 {
	padding: 8px 16px;
	background-color: #335581;
	border-left: 5px solid #FFA032;
	color: #FFF;
}
#KIZI h2 table,
#KIZI h2 tbody,
#KIZI h2 tr,
#KIZI h2 td {
	display: block;
	width: 100%;
}
#KIZI h2 td:nth-child(2) {
	position: absolute;
	right: 16px;
	top: 50%;
	width: auto;
	transform: translateY(-50%)
}

#KIZI h3 {
	margin-bottom: 0.3em;
}

#KIZI li {
	margin-left: 2em;
}

#KIZI .midashi_class {
	cursor: pointer;
	padding: 8px 16px;
	background-color: #335581;
	border-left: 5px solid #FFA032;
	color: #FFF;
}

#KIZI .midashi_class:hover {
	font-weight: bold;
	background-color: #4C72A3;
}



#KIZI .text {
	margin: 0 0 32px;
	padding: 16px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 8px;
	line-height: 1.75;
	font-size: 12px;
	box-shadow: 0 0 8px rgba( 0, 0, 0, 0.2 );
	overflow: hidden;
}
#KIZI .text hr{
	display: block;
}
#KIZI .text > div {
	margin-left: 0!important;
}
#KIZI .text[style*="hidden"] {
	margin: 0!important;
	padding: 0!important;
}
#Mix1_Nakami input[type="radio"],
#Mix2_Nakami input[type="radio"] {
	display: block;
    width: 20px; height: 20px;
	margin: 0 auto;
}


#KIZI textarea, #KIZI input[type="text"], #KIZI input[type="password"] {
	font-family: MS Gothic;
	font-size: 13px;
	padding: 2px;
	margin-bottom: 2px;
	min-height: 1.4em;
	border-radius: 3px;
}
#KIZI select {
	border-radius: 3px;
	min-height: 22px;
	padding: 2px;
}

/* pulldown search */
#KIZI .richFilterSelectListWrapper {
	text-align: left;
	font-size: 12px;
}

#KIZI .richFilterSelectListCaller {
	margin: 4px; padding: 2px 4px 1px;
	background-color: #DDD;
	border-radius: 4px;
	text-align: center;
	color: #333;
	font-size: 11px;
}
#KIZI .richFilterSelectListCaller::before {
	content: '▼ ';
}
#KIZI .richFilterSelectListCaller:hover {
	background-color: #CCC;
}

#KIZI .dynamicSelectListWrapper {
	text-align: left;
	font-size: 12px;
}

#KIZI .dynamicSelectListCaller {
	text-align: left;
	color: #303030;
	font-size: 11px;
}

/* auto filter */
#KIZI .filter_ctl_start_limit {
	margin-top: 5px;
}
#KIZI #Graph1_Nakami .flex {
	margin-bottom: 16px!important;
}
#KIZI #Graph1_Nakami .flex #donuts_pie {
	margin-left: 16px!important;
}
#Graph_msg {
	margin-bottom: 15px
}

/* 05.input button & submit *******************************************/
/* default button */
input[type="button"],
input[type="submit"],
button.linkBtnInTbl {
	font-size: 12px;
	color: #FFF;
	padding: 5px 10px;
	min-width: 200px;
	width: auto;
	margin: 3px 0;
	border-radius: 4px;
	background-color: #FF821E;
	border: 1px solid #FF821E;
	box-shadow: 0 2px 0 #CC6818;
	transform: translateY(-2px);
  cursor: pointer;
  outline: none;
}
input.deleteBtnInTbl[type="button"] {
	background: #DD0000;
	border: 1px solid #DD0000;
	box-shadow: 0 2px 0 #BB0000;
}
input.deleteBtnInTbl[type="button"][value="復活"],
input.deleteBtnInTbl[type="button"][value="Restore"] {
	background: #0078DC;
	border: 1px solid #0078DC;
	box-shadow: 0 2px 0 #0050B4;
}
input.historyBtnInTbl[type="button"] {
	background-color: #16A23A;
	border-color: #16A23A;
	box-shadow: 0 2px 0 #12822E;
}
input.duplicateBtnInTbl[type="button"] {
	background-color: #8d1eff;
	border-color: #8d1eff;
	box-shadow: 0 2px 0 #7118cc;
}

/* default button:hover */
input[type="button"]:hover, input[type="submit"]:hover,
button.linkBtnInTbl:hover {
	background: #FF640A;
	border: 1px solid #FF640A;
	transform: translateY(-1px);
	box-shadow: 0 1px 0 #AA6818;
}
input.deleteBtnInTbl[type="button"]:hover {
	background: #CC0000;
	border: 1px solid #CC0000;
	box-shadow: 0 1px 0 #AA0000;
}
input.deleteBtnInTbl[type="button"][value="復活"]:hover,
input.deleteBtnInTbl[type="button"][value="Restore"]:hover {
	background: #0064C8;
	border: 1px solid #0064C8;
	box-shadow: 0 1px 0 #0030A1;
}
input.historyBtnInTbl[type="button"]:hover {
	background-color: #149234;
	border-color: #149234;
	box-shadow: 0 1px 0 #0F7129;
}
input.duplicateBtnInTbl[type="button"]:hover {
	background-color: #7e1ce6;
	border-color: #7e1ce6;
	box-shadow: 0 1px 0 #6616b8;
}

/* default button:active */
input[type="button"]:active, input[type="submit"]:active,
button.linkBtnInTbl:active {
	box-shadow: none!important;
	transform: translateY( 0 );
}

/* disabled button */
input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"][disabled]:active,
input[type="submit"][disabled], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:active,
button.linkBtnInTbl[disabled],  button.linkBtnInTbl[disabled]:hover,  button.linkBtnInTbl[disabled]:active {
	background: #EBEBEB;
	border: 1px solid #BABABA;
	cursor: default;
	position: relative;
	top: 0px;
	color: #BABABA;
	box-shadow: none;
	transform: translateY(0);
}

/* buttons for supertable */
input.updateBtnInTbl, input.deleteBtnInTbl, input.linkBtnInTbl,
input.historyBtnInTbl, input.duplicateBtnInTbl,
button.linkBtnInTbl {
	min-width: 100%;
	width: 100%;
	max-width: 300px;
	margin: auto;
  margin-top: 2px;
	padding: 0 2px;
	border-radius: 3px;
	font-size: 90%;
	height: 18px;
}
button.linkBtnInTbl {
  min-width: 200px; min-height: auto;
  max-width: none;
  width: auto;  height: auto;
  padding: 1px 4px;
  word-break: break-all;
  line-height: 1.5;
}

/* login button */
#loginTryExecute {
	position: relative;
	margin-top: 15px;
	padding: 9px 0;
	width: 135px;
	color: #F5F5F5;
	border-radius: 4px;
	background: #FF821E;
	border: 1px solid #FF821E;
	font-weight: bold;
}
/* login button:hover */
#loginTryExecute:hover {
	background: #FF640A;
	border: 1px solid #FF640A;
}

/* login button:active */
#loginTryExecute:active {
	position: relative;
	top: 1px;
}

/* open/close button */
input.showbutton {
	position: relative;
	right: 0px;
	background: transparent;
	color: #FFF;
	border: none;
	min-width: 10px;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 90%;
	filter: none;
	transform: translateY(0);
	box-shadow: none;
}

/* open/close button:hover */
input.showbutton:hover {
	background: transparent;
	color: #EEE;
	border: none;
	filter: none;
	transform: translateY(0);
	box-shadow: none;
}

/* 06.screen for login/logout & changePW  ************************************************/
/* article */
#gateLogin, #gateLogout, #gateChangePw {
	background: #FFFFFF;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #C4C4C4;
}
#gateLogin, #gateLogout {
	width: 360px;
}
#gateChangePw {
	width: 400px;
}
#gateChangePw .text {
  position: relative;
  padding-bottom: 56px;
}
#gateChangePw .input_login_id {
  box-sizing: border-box;
  min-height: 28px;
  line-height: 20px;
  margin: 3px 0; padding: 4px 8px;
  font-family: Consolas, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  word-break: break-all;
}
#gateChangePwTry,
#gateChangePwContainerFooter {
  box-sizing: border-box;
  position: absolute;
  bottom: 16px;
  width: 50%;
  padding: 0 8px;
}
#gateChangePwTry {
  left: 0;
  text-align: right;
}
#gateChangePwContainerFooter {
  right: 0;
  text-align: left;
}
#gateChangePw input[type="submit"] {
  min-width: 120px;
}
#gateChangePw #returnTryExecute {
  background-color: #AAA;
  border-color: #AAA;
  box-shadow: 0 2px 0 #666;
}
#gateChangePw #returnTryExecute:hover {
  background-color: #999;
  border-color: #999;
  box-shadow: 0 1px 0 #555;
}
#gateChangePw #returnTryExecute:active {
  box-shadow: none;
}

/**********************/

/* title */
#gateLogin h2, #gateChangePw h2, #gateLogout h2 {
  box-sizing: border-box;
  width: 100%;
  background: #00367C;
  padding: 10px;
  color: #F5F5F5;
}
#gateLoginContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 16px;
}
#gateChangePwContainerBody {
  padding: 16px;
}
#gateLogout .text {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 16px;
}
/* IE11 Flex min-height bug */
@media all and (-ms-high-contrast:none){
  #gateLoginContainer::after,
  #gateLogout .text::after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
}


/**********************/

/* input tag label */
.inputItemExplain {
	vertical-align: middle;
	text-align: right;
	padding-right: 3px;
}
/**********************/

/* input tag wrapper */
.inputItemWrapper {
	text-align: left;
	font-size: 14px;
}

#gateLogin .inputItemWrapper,
#gateChangePw .inputItemWrapper {
	width: 200px;
}

/**********************/

/* input form */
.inputUserId, .inputUserPw {
	font-family: "Hiragino Kaku Gothic ProN", YuGothic, Meiryo, sans-serif;
	vertical-align: middle;
	border-radius: 4px;
	border: 1px solid #C1C1C1;
	background: #FFFFFF;
	padding: 3px;
}

.inputUserId {
	font-size: 16px;
}

.inputUserPw {
	font-size: 12px;
}

#gateLogin .inputUserId, #gateLogin .inputUserPw,
#gateChangePw .inputUserId, #gateChangePw .inputUserPw {
  box-sizing: border-box;
	width: 100%;
	height: 36px;
	line-height: 28px;
  font-family: Consolas, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 13px;
	margin: 4px 0; padding: 4px 8px;
}

#gateChangePw .inputUserId, #gateChangePw .inputUserPw {
	height: 28px;
	line-height: 20px;
	margin: 3px 0;
}



/**********************/

/* table */
#gateLoginItemTable, #gateChangePwTable {
	margin: 0 auto;
}

/* sys msg */
.loginGateWarningMsg {
	font-size: 14px;
	color: #D80D00;
}

#gateChangePw .generalWarningMsg br {
	display: none;
}

#gateChangePw .generalWarningMsg {
	font-size: 14px;
	line-height: 35px;
}

/* autofiil for Chrome auto-complete */
input:-webkit-autofill {
	box-shadow: 0 0 0px 25px #FFFFFF inset;
}

/* Password mask release */
.input_password {
display: inline-block;
position: relative;
z-index: 0;
width: 100%;
}
.itaTable .input_password {
width: auto;
}
#KIZI .input_password input[type="password"],
#KIZI .input_password input[type="text"] {
padding: 2px 18px 2px 2px;
font-family: Consolas, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
font-size: 13px;
}
#gateLoginContainer .input_password input[type="password"],
#gateLoginContainer .input_password input[type="text"],
#gateChangePw .input_password input[type="password"],
#gateChangePw .input_password input[type="text"] {
padding: 4px 24px 4px 8px;
}
/* IE Default mask hidden */
#KIZI .input_password input::-ms-clear,
#KIZI .input_password input::-ms-reveal,
#gateLoginContainer .input_password input::-ms-clear,
#gateLoginContainer .input_password input::-ms-reveal,
#gateChangePw .input_password input::-ms-clear,
#gateChangePw .input_password input::-ms-reveal {
visibility: hidden;
}
.password_eye {
position: absolute;
right: 2px; top: 50%;
z-index: 2;
transform: translateY(-50%);
width: 16px; height: 16px;
background: url("../imgs/ita_icon_sprite.png") 0 0 no-repeat;
background-size: 160px 144px;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
#gateLoginContainer .password_eye,
#gateChangePw .password_eye {
right: 4px;
}
.password_eye.password_see {
background-position: -16px 0;
}

/* SSO Login */
#ssoLoginContainer *,
#ssoLoginContainer *::before,
#ssoLoginContainer *::after {
  box-sizing: border-box;
}
#ssoLoginContainer {
  padding: 16px 0;
  background-color: rgba( 0,0,0,.05 );
}
#ssoLoginContainer .ssoLoginTitle {
  margin-bottom: 16px;
}
#ssoLoginContainer .ssoLoginList {
  width: 280px;
  margin: 0 auto; padding: 0;
  list-style: none;
}
#ssoLoginContainer .ssoLoginItem {
  margin: 0 0 6px; padding: 0;
}
#ssoLoginContainer .ssoLoginItem a {
  display: block;
  padding: 0 0 2px;
  text-decoration: none;
  font-size: 12px;
  color: #FFF;
}
#ssoLoginContainer .ssoLoginItem a:focus {
  outline: none;
}
#ssoLoginContainer .ssoLoginItem a:hover {
  padding: 1px 0;
}
#ssoLoginContainer .ssoLoginItem a:active {
  padding: 2px 0 0;
}
#ssoLoginContainer .ssoLoginLinkInner {
  display: table;
  width: 100%;
  background-color: #EEE;
  background: #FF9B4B;
  box-shadow: 0 2px 0 #CC6818;
  border-radius: 4px;
  text-align: left;
}
#ssoLoginContainer .ssoLoginItem a:focus .ssoLoginLinkInner {
  box-shadow: 0 0 0 1px #0070FF, 0 2px 0 #CC6818;
}
#ssoLoginContainer .ssoLoginItem a:hover .ssoLoginLinkInner {
  background-color: #FF701E;
  box-shadow: 0 1px 0 #CC6818;
}
#ssoLoginContainer .ssoLoginItem a:active .ssoLoginLinkInner {
  background-color: #FF701E;
  box-shadow: none;
}      
#ssoLoginContainer .ssoLoginIcon,
#ssoLoginContainer .ssoLoginAccountType {
  display: table-cell;
  vertical-align: middle;
}
#ssoLoginContainer .ssoLoginIcon {
  width: 36px; height: 36px;
  padding: 6px;
  background-color: rgba( 255,255,255,.5 );
  border-radius: 3px 0 0 3px;
}
#ssoLoginContainer .ssoLoginIconImage {
  display: inline-block;
  width: 24px; height: 24px;
  background-size: cover;
  background-position: center center;
}
#ssoLoginContainer .ssoLoginAccountType {
  padding: 8px 16px;
}

/* 07.for system messages **************************************************************/
.generalBold {
	font-size: 100%;
}

/* warning/wait msg */
.generalErrMsg {
	color: #E65000;
	font-weight: bold;
}

.wait_msg, .wait_msg2, #wait_msg, #wait_msg2, #wait_msg3 {
	text-align: center;
	font-size: 16px;
	color: #E65000;
}
#warning_msg {
	font-size: 14px;
	color: #E65000;
}

.input_required {
	color: #D80D00;
}

.resultPreUpload {
	word-wrap: break-word;
	white-space: pre-wrap;
}

.error {
	color: #D80D00;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.generalWarningMsg {
	font-size: 14px;
	color: #D80D00;
}

#journal_alert_area, #filter_alert_area, #register_alert_area, #update_alert_area {
	color: #D80D00;
}

.alert_area {
  word-break: break-all;
	font-size: 14px;
	color: #D80D00;
}
/* 08.etc. *********************************************************************/
/* for superTable *******************/
th {
	min-width: 2.5em;/* = button-min-width */
}

span.filter_match {
	color: #E65000;
	font-weight: bold;
}

th.diff, td.diff {
	color: #0D00D8;
	font-weight: bold;
}

tr.disuse, td.disuse {
	background-color: #EBEBEB;
	color: #666666;
}

td.likeHeader {
	background-color: #EBEBEB;
	min-height: 20px;
}

th.number, td.number {
	text-align: right;
}

/* sort */
th.sortTriggerInTbl {
	cursor: pointer;
	text-decoration: underline;
}
th.sortTriggerInTbl:hover {
	text-decoration: none;
	background-color: #99AFCB;
}

th.sortTriggerInTbl span {
}

span.sortMarkWrap {
	display: inline-block;
	width: 12px;
	height: 15px;
	vertical-align: middle;
}

span.sortMarkWrap > * {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 12px 15px;
}

.sortNotSelected {
	background-image: url("../imgs/sort_notSelected.png");
}
.sortSelectedAsc {
	background-image: url("../imgs/sort_selectedAsc.png");
}
.sortSelectedDesc {
	background-image: url("../imgs/sort_selectedDesc.png");
}

#Mix1_Nakami {
	margin-left: -10px;
}
#Filter2_Nakami {
	margin-left: -10px;
}
/* wrap txt */
#sel_menu_group_name_chg, div.LineFeed {
	word-wrap: break-word;
	white-space: pre-wrap;
}

/* selectList */
.selectList {
	height: 70px;
}
.richFilterSelectList {
	height: 96px;
}
.richFilterSelectListWrapper {
	/* height: 100px; */
}
.richFilterSelectListCaller {
	cursor: pointer;
}

/* Contents Area */
.fakeContainer_Setsumei, .fakeContainer_KensakuJoken, .fakeContainer_Table, .fakeContainer_AllDump, .fakeContainer_OnlineTouroku, .fakeContainer_UploadTouroku, .fakeContainer_Journal, .fakeContainer_Yobi0, .fakeContainer_Yobi1, .fakeContainer_Yobi2, .fakeContainer_Yobi3, .fakeContainer_Yobi4, .fakeContainer_Yobi5, .fakeContainer_Filter1Setting, .fakeContainer_Filter1Print, .fakeContainer_Filter2Setting, .fakeContainer_Filter2Print, .fakeContainer_Journal1Print, .fakeContainer_Journal2Print, .fakeContainer_Register1, .fakeContainer_Register2, .fakeContainer_Update1, .fakeContainer_Update2, .fakeContainer_Delete1, .fakeContainer_Delete2 {
	margin: 0px;
	border: none;
	margin-bottom: 10px;
	width: 100%;
}

/* calendar */
input.calendar {
	border: 0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-image: url("../imgs/calendar.gif");
	background-color: #FFFFFF;
}

#registFromExcelErrorReport td {
	vertical-align: top;
}

/* display:none; */
hr {
	display: none;
}

#PAN {
	display: none;
}

#FOOTER h2 {
	display: none;
}

#max_last_update_date, #last_update_date, #modori_flag, #editing_drill_exist_flag {
	display: none;
}

/* graphs */
.flex {
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display: -o-flex;
    display:flex;
    -webkit-box-direction:normal;
    -moz-box-direction:normal;
    -webkit-box-orient:horizontal;
    -moz-box-orient:horizontal;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    flex-direction:row;
}

.plot-container {
    border:solid 1px #D8D8D8;
}

.switch{
    width: auto;
}

.switch input {
    display: none;
}

.switch label{
    display: block;
    float: left;
    cursor: pointer;
    width: 100px;
    margin: 0;
    padding: 7px 0 7px 0;
    background: #f5f5f5;
    color: #000000;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.switch label:first-of-type{
    border-radius: 3px 0 0 0;
    border: solid 0.5px #D8D8D8;
    border-right: none;
    border-bottom: none;
}

.switch label:last-of-type{
    border-radius: 0 3px 0 0;
    border: solid 0.5px #D8D8D8;
    border-left: none;
    border-bottom: none;
}

.switch input[type="radio"]:checked + .switch-1 {
    background-color: #A1C8FB;
    color: #fff;
}

.switch input[type="radio"]:checked + .switch-2 {
    background-color: #A1C8FB;
    color: #fff;
}

#line_dl {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);	/* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#pie_dl {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);	/* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

/* panels */

#sortable {
	letter-spacing: -0.4em;
	line-height: 1;
}
.mm_list {
	position: relative;
	letter-spacing: normal;
	height: auto!important;
	display: inline-block;
    padding: 0;
    list-style: none;
    margin: 0 16px 24px 0 !important;
	padding-bottom: 24px;
	vertical-align: top;
	user-select: none;
}
.ui-sortable-helper {
}
.ui-sortable-placeholder {
	height: 1px!important;
	overflow: hidden;
}
.mm_text {
	position: absolute;
	bottom: 0; left: 0;
	width: 100%!important;
	height: 24px!important;
	margin: 0 auto !important;
	z-index: 25;
}
.mm_text p {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	line-height: 24px;
}
/* Hover処理 js */
.mm_list.itemHover {
	z-index: 99999;
}
.mm_list.itemHover .mm_text {
  box-sizing: border-box;
	position: fixed;
	width: auto!important; max-width: 320px;
  height: auto!important;
	background-color: #FFF;
	border-radius: 4px;
	padding: 8px;
	box-shadow: 0 0 4px 0 rgba( 0, 0, 0, 0.5 );
  pointer-events: none;
}
.mm_list.itemHover .mm_text p {
	text-overflow: clip;
	line-height: 16px;
  white-space: normal;
  word-break: break-all;
}
.mm_list a,
.menu_border {
	display: block;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	padding-bottom: 100%;
}
.menu_border {
	box-shadow: 0 0 0 4px #FFFFFF;
}

.mm_list a img,
.menu_border img {
	position: absolute;
	width: 100%; height: auto;
	top: 50%; left: 50%;
	transform: translate( -50%,-50%);
	pointer-events: none;
}
.mm_list a img {
	transition-duration: 0.2s;
}
.mm_list:hover a img {
	transform: translate( -50%,-50%) scale( 1.1 );
}
.menu_border img {
	opacity: 0.3;
}
.ui-corner-all img {
	position: absolute;
	top: 4px; left: 4px;
	z-index: 10;
	margin: 0!important;
	opacity: 0.3!important;
	cursor: all-scroll;
}
.ui-corner-all img:hover {
	opacity: 1!important;
}




/* data export style */
#export_form .export_all_div {
	padding: 8px;
	background-color: #E5EBF2;
	border: 1px solid #CCC;
	border-bottom: 1px dashed #CCC;
	border-radius: 4px 4px 0 0;
  white-space: nowrap;
}
#export_form .export_all_div + div {
	padding: 8px;
	border: 1px solid #CCC;
	border-top: none;
	border-radius: 0 0 4px 4px;
  letter-spacing: -0.4em;
}
#export_form .export_all_div + div::after {
	content: '';
	display: block;
	clear: both;
}
#export_form .export_all_div + div p {
	width: 25%;
	display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  letter-spacing: normal;
}
#export_form label,
#export_form input {
	cursor: pointer;
}
#export_form label {
	box-sizing: content-box;
	display: inline-block;
	padding: 2px 8px;
  word-break: break-all;
  white-space: normal;
}
#export_form .export_all_div label:hover {
  background-color: rgba( 255,255,255,.2 );
}
#export_form label:hover {
	background-color: #FFFFCC;
}
#export_form input {
  vertical-align: middle;
}

/* data import style */
#import_form .import_all_div {
	padding: 8px;
	background-color: #E5EBF2;
	border: 1px solid #CCC;
	border-bottom: 1px dashed #CCC;
	border-radius: 4px 4px 0 0;
  white-space: nowrap;
}
#import_form .import_all_div + div {
	padding: 8px;
	border: 1px solid #CCC;
	border-top: none;
	border-radius: 0 0 4px 4px;
  letter-spacing: -0.4em;
}
#import_form .import_all_div + div::after {
	content: '';
	display: block;
	clear: both;
}
#import_form .import_all_div + div p {
	width: 25%;
	display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  letter-spacing: normal;
}
#import_form label,
#import_form input {
	cursor: pointer;
}
#import_form label {
	box-sizing: content-box;
	display: inline-block;
	padding: 2px 8px;
  word-break: break-all;
  white-space: normal;
}
#import_form .import_all_div label:hover {
  background-color: rgba( 255,255,255,.2 );
}
#import_form label:hover {
	background-color: #FFFFCC;
}
#import_form input {
  vertical-align: middle;
}
/* Symphony import style */
#import_all p[style="margin-bottom: 10px;"] + .import_all_div_ope,
#import_all p[style="margin-bottom: 10px;"] + .import_all_div_sym {
  margin-bottom: 0!important;
  border-top: 1px solid #CCC!important;
}
#import_all .import_all_div_ope,
#import_all .import_all_div_sym {
  box-sizing: content-box;
  padding: 4px 8px 4px 0;
  border: 1px solid #CCC;
  border-top: none;
  white-space: nowrap;
}
#import_all .import_all_div_ope p > label,
#import_all .import_all_div_sym p > label {
  box-sizing: content-box;
	display: inline-block;
	padding: 2px 8px;
  word-break: break-all;
  white-space: normal;
}

.header-sample-title {
  background-color: #EEE;
  text-align: right;
  padding: 16px;
  font-size: 14px;
}

.p1 .itaLoginUserIconText {
  display: block;
  width: 32px; height: 32px;
  background-color: #AAA;
  border-radius: 4px;
  letter-spacing: -9999px;
  line-height: 34px;
  text-align: center;
  font-size: 20px;
  color: transparent;
  pointer-events: none;
}

.p1 .itaLoginUserIconText::first-letter {
  letter-spacing: normal;
  color: #FFF;
}
/* メニュー作成実行 */
#create_menu_form > h3 {
margin: 0 !important; padding: 8px;
background-color: #E5EBF2;
border: 1px solid #CCC;
border-bottom: 1px dashed #CCC;
border-radius: 4px 4px 0 0;
white-space: nowrap;
}
#creat_div {
margin: 0 0 16px 0 !important; padding: 8px;
background-color: #FFF;
border: 1px solid #CCC;
border-top: none;
border-radius: 0 0 4px 4px;
letter-spacing: -0.4em;
}
#creat_div > p {
width: 25%;
display: inline-block;
vertical-align: top;
white-space: nowrap;
letter-spacing: normal;
}
#create_menu_form label {
box-sizing: content-box;
display: block;
padding: 2px 8px;
word-break: break-all;
white-space: normal;
cursor: pointer;
}
#create_menu_form label > input  {
vertical-align: middle;
margin-right: 0.5em;
}
#create_menu_form label:hover {
	background-color: #FFFFCC;
}

/* 固定レイアウト用 */
html.ita-fixed-layout #INDEX {
  min-height: 480px!important;
}
html.ita-fixed-layout #HEADER {
  position: fixed;
  left: 0; top: 0;
  z-index: 9999;
  width: 100%; height: 80px;
}
html.ita-fixed-layout #MENU {
  padding-top: 80px;
}
html.ita-fixed-layout #KIZI {
  min-height: calc( 100vh - 38px ) !important;
  padding: 104px 24px 86px;
}
html.ita-fixed-layout #FOOTER {
  box-sizing: border-box;
  height: 38px;
}
.footer-menu-button {
  width: 22px; height: 22px;
  min-width: auto!important; min-height: auto!important;
  background-color: transparent;
  background-image: url(/common/imgs/ita_icon_sprite.png?v=162);
  background-size: 220px 198px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  outline: none;
}
.fixed-layout-button {
  background-position: -110px -88px;
}
.heading-status-button {
  background-position: -132px -88px;
}
.heading-status-button.heading-status-button-wait {
opacity: .2;
pointer-events: none;
}
.footer-menu-button:focus {
box-shadow: 0 0 0 1px rgba( 255,255,255,.5 );
}
.footer-menu-button:hover {
  opacity: .8; 
}

.fixed-layout-button {
  opacity: .4;
}
.fixed-layout-button:hover {
  opacity: .2;
}
.fixed-layout-button.on {
  position: relative;
  z-index: 1;
  opacity: 1;
}
.fixed-layout-button.on::after {
  content: '';
  display: block;
  position: absolute;
  right: 0; bottom: 0;
  z-index: 2;
  width: 12px; height: 12px;
  transform: translate(2px,2px);
  background-image: url(/common/imgs/ita_icon_sprite.png?v=162);
  background-size: 120px 108px;
  background-position: 0 -96px;
}
.fixed-layout-button.on:hover {
  opacity: .8;
}

.itaPopup {
position: fixed;
transform: translate(-50%,-100%);
padding: 4px 8px;
border-radius: 2px;
background-color: #111;
color: #FFF;
pointer-events: none;
}
.itaPopup::after {
content: '';
display: block;
position: absolute;
left: 50%; bottom: -8px;
transform: translateX(-4px);
border: 4px solid transparent;
border-top-color: #111;
}




/* filter_area select2 */

#filter_area .select2-container--default .select2-selection--multiple .select2-selection__rendered,
#select_area .select2-container--default .select2-selection--multiple .select2-selection__rendered {
padding-right: 0;
padding-bottom: 5px;
}
#filter_area .select2-search,
#select_area .select2-search {
margin-left: 0!important;
}
#filter_area .select2-selection__choice,
#select_area .select2-selection__choice {
margin-left: 0!important;
word-break: break-all;
white-space: normal;
}
.select2-container {
max-width: 640px;
}
#filter_area .select2-container,
#select_area .select2-container {
min-width: 100%;
margin-top: 4px;
}
#filter_area .likeHeader .select2-container,
#select_area .likeHeader .select2-container {
max-width: 320px;
}
#filter_area .select2-search,
#select_area .select2-search {
max-width: 100%;
margin: 5px 5px 0 0;
}
#filter_area .select2-container .select2-search--inline .select2-search__field,
#select_area .select2-container .select2-search--inline .select2-search__field {
max-width: 100%;
margin: 0;
}
#filter_area .select2-container .select2-search--inline .select2-search__field::placeholder,
#select_area .select2-container .select2-search--inline .select2-search__field::placeholder {
color: #AAA;
}
#filter_area .select2-container--default.select2-container--focus .select2-selection--multiple,
#select_area .select2-container--default.select2-container--focus .select2-selection--multiple {
border-color: #0070FF;
background-color: #E5F1FF;
}