[Unit]
Description=ky_change_col_to_row
After=syslog.target network.target mysqld.service

[Service]
EnvironmentFile=/etc/sysconfig/ita_env
ExecStart=/bin/sh ${ITA_ROOT_DIR}/backyards/common/ky_loopcall-php-procedure.sh /bin/php /bin/php ${ITA_ROOT_DIR}/backyards/create_param_menu/ky_change_col_to_row.php ${ITA_ROOT_DIR}/logs/backyardlogs 10 ${ITA_LOG_LEVEL} > /dev/null 2>&1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target

