[Unit]
Description=ky_pioneer_checkcondition-workflow
After=syslog.target network.target mysqld.service httpd.service

[Service]
EnvironmentFile=/etc/sysconfig/ita_env
ExecStart=/bin/sh ${ITA_ROOT_DIR}/backyards/common/ky_loopcall-php-procedure.sh /bin/php /bin/php ${ITA_ROOT_DIR}/backyards/ansible_driver/ky_pioneer_checkcondition-workflow.php ${ITA_ROOT_DIR}/logs/backyardlogs 3 ${ITA_LOG_LEVEL} > /dev/null 2>&1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target

